<div class="col-10 mx-auto">
  <h3>新規店舗登録</h3><br>
    <%= form_with model: @store, url: store_registration_path, id: 'new_store', class: 'new_store', local: true do |f| %>
    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">店舗名</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :name, autofocus: true, placeholder: "店舗名", class: "form-control" %>
      </div>
    </div>

    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">メールアドレス</label>
      </div>
      <div class="col my-1">
        <%= f.email_field :email, autocomplete: "email", placeholder: "potekuma@chichibu.com", class: "form-control w-75" %>
      </div>
    </div>

    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">郵便番号(ハイフンなし)</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :postal_code, placeholder: "3680053", class: "form-control w-50" %>
      </div>
    </div>
    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">住所</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :address, placeholder: "埼玉県秩父市111", class: "form-control d-inline w-75" %>
      </div>
    </div>

    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">電話番号（ハイフンなし）</label>
      </div>
      <div class="col my-1">
        <%= f.text_field :telephone_number, placeholder: "09012345678", class: "form-control d-inline w-50" %>
      </div>
    </div>

    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">
          パスワード
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 文字以上)
          <% end %>
        </label>
      </div>
      <div class="col my-1">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-50" %>
      </div>
    </div>

    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">パスワード(確認用)</label>
      </div>
      <div class="col my-1">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-50" %>
      </div>
    </div>

    <div class="row py-1 mt-1 mb-5">
      <div class="col-12 col-sm-4"></div>
      <div class="col my-1">
        <%= f.submit "新規登録", class: "btn btn-success w-100" %>
      </div>
      <div class="col-12 col-sm-4 my-1"></div>
    </div>
    <% end %>
  <h4>既にご登録済みの方</h4><br>
  <%= link_to "こちら", new_store_session_path %>からログインしてください。
</div>
