<div class="container mx-4 justify-content-center">
  <div class="row">
    <div class="d-block w-40">
     <h2>店舗ログイン</h2>
    </div>
</div>

<%= form_with model: @store, url: store_session_path, local: true do |f| %>
<div class="row pt-5">
    <div class="col-12 col-sm-2 offset-sm-1">
    <%= f.label :"メールアドレス" %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <%= f.email_field :email, autofocus: true , class: "w-75 form-control", autocomplete: "email" %>
    </div>
</div>

<div class="row pt-4">
    <div class="col-12 col-sm-2 offset-sm-1">
    <%= f.label :"パスワード" %>
    </div>
     <div class="col-12 col-sm-7 offset-sm-1">
     <%= f.password_field :password, class: "w-75 form-control", autocomplete: "current-password" %>

     </div>
</div>


  <div class="col-8 offset-4">
    <%= f.submit "ログイン", class: "btn btn-info mt-4 w-50" %>
  </div>
<% end %>



</div>