<h2>店舗最新投稿</h2>
<div class="col-10 mx-auto">
  <% @posts.each do |post| %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 mb-4">
      <%= link_to store_path(post.store) do %>
        <%= attachment_image_tag post, :image, :fill, 500, 400, format: 'jpeg', class: "image-fluid col-12" %>
      <% end %>
    </div>

    <div class=" col-11 col-md-6 justify-content-center align-self-center font-weight-bold">
        <p><%= post.store.name %>　　　　<%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
        <p><%= post.caption %></p>
    </div>
  </div>
  <% end %>
   <div class= "text-center"><%= paginate(@posts) %></div>
</div>
