<div class="col-12 mx-auto">
  <% if flash[:error].present? %>
    <div class="col-10 mx-auto alert alert-warning">
      <div>
        <% flash[:error].each do |message| %>
          <div class="text-center">・<%= message %></div>
        <% end %>
      </div>
    </div>
  <% end %>
  <h3>新規投稿</h3>
  
  <%= form_with model:@post, url:new_post_path, method: :post, local: true do |f| %>
    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">画像</label>
      </div>
      <div class="col my-1">
        <%= f.attachment_field :image, placeholder: "ファイルを選択"%>
      </div>
    </div>

    

    <div class="row py-1 my-1 border-bottom">
      <div class="col-12 col-sm-4 my-1">
        <label class="font-weight-bold m-1">投稿内容</label>
      </div>
      <div class="col my-1">
        <%= f.text_area :caption,  class: "post_caption", size:  "40x5" %>
      </div>
    </div>

    
    <div class="row py-1 mt-1 mb-5">
      <div class="col my-1">
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>

</div>