<!DOCTYPE html>
<html>
  <head>
    <title>ChichibuMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-3">
            <% if store_signed_in? %>
              <li class="nav-item mx-2"><%= link_to "店舗ページ",store_path(current_store.id) , class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "新規投稿", new_post_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "店舗編集",edit_store_path(@store), class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
            <% elsif user_signed_in? %>
              <li class="nav-item mx-2"><%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "店舗投稿一覧", user_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item mx-2"><%= link_to "About", about_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
              <li class="nav-item mx-2"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
            <% end %>
          </ul>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
  
   <footer class="container mt-5 mw-100">
  	  <div class="row">
    	  <div class="mx-auto">
    		  <div class="py-3">CopyRight Chichibu-Map.inc</div>
    	  </div>
      </div>
    </footer>
  </body>
</html>
